# Compiled code
*.py[cod]
*.swp
*.log
*.rpm
*.rpmmacros
MANIFEST
*.sqlite
*.so
__pycache__/
_build/
.buildinfo

# Distribution
*.egg
*.egg-info
dist/
build/
.venv/
.eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib64/
virtualenv/

# Installer logs
pip-log.txt

# Unit test/coverage reports
.coverage
cover
coverage*.xml
.tox
nosetests.xml
tests/credentials.yaml
.pytest_cache/

# OS
.idea
.DS_Store
._*
.rnd

# IDEs
.project
.pydevproject
.settings
.metadata

# pyenv
.python-version
